.body {
  background-color: black;
}

body {background-color: black; color: whitesmoke; margin: 0
    
}

#menu {list-style: none; margin: 0; padding: 0; display: block; overflow: hidden; text-decoration: none;
    
}

un#menu li {float: right; padding: 15px;     
}

a:visited {color: whitesmoke}

a {text-decoration: none; color: whitesmoke
}

#pavadinimas {font-family: 'Bebas Neue', cursive; float: left; padding-left: 20px; padding-top: 5px; font-size: 25px
    
}

#albumo_virselis { padding-top: 5%; position: absolute; text-align: center; width: 100%; font-size: 20px
    
}

#container2 {position: relative
    
}

#soc_medijos {background-color: whitesmoke; position: fixed; bottom: 0; right: 0; padding-right: 15px; padding-left: 15px; padding-top: 5px
    
}

.formatavimas {display: block
    
}

h2 {padding-left: 20px
    
}




#galerija {margin-left: 5%; margin-right: 5%; display: flex; flex-wrap: wrap; justify-content: space-around;  
    
}

#muzika {margin: 3%; 
    
}

#turas {width: 50%; 
    
}



